**Read Email Dataset and Pandas Dataframe and Validate Emails**

**IMPORTING LIBRARIES**

In [11]:
import pandas as pd
from email_validator import validate_email, EmailNotValidError

**READING CSV FILE**

In [12]:
path = "/content/EmailData.csv"

In [13]:
df = pd.read_csv(path)

**INITIAL DATA**

In [14]:
df.head()

                          mail_id
0                     xyz@abc.com
1                       iop@mnjip
2               email@example.com
3  firstname.lastname@example.com
4     email@subdomain.example.com

**FINDING VALID AND INVALID EMAILS**

In [15]:
for i in range(len(df)):
  mail = df.loc[i]['mail_id']

  try:
  # Validate & take the normalized form of the email
  # address for all logic beyond this point (especially
  # before going to a database query where equality
  # does not take into account normalization).
    email = validate_email(mail).email
  except EmailNotValidError as e:
    # email is not valid, exception message is human-readable
    print("Invalid: {}".format(mail))
  else:
    print("Valid: {}".format(mail))

Valid: xyz@abc.com
Invalid: iop@mnjip
Invalid: email@example.com
Invalid: firstname.lastname@example.com
Invalid: email@subdomain.example.com
Invalid: firstname+lastname@example.com
Invalid: email@123.123.123.123
Invalid: email@[123.123.123.123]
Invalid: email@example.com
Invalid: 1234567890@example.com
Invalid: email@example-one.com
Invalid: _______@example.com
Invalid: plainaddress
Invalid: #@%^%#$@#$@#.com
Invalid: @example.com
Invalid: Joe Smith <email@example.com>
Invalid: email.example.com
Invalid: email@example@example.com
Invalid: .email@example.com
Invalid: email.@example.com
Invalid: email..email@example.com
Invalid: あいうえお@example.com
Invalid: email@example.com (Joe Smith)
Invalid: email@example
Invalid: email@-example.com
Invalid: email@example.web
Invalid: email@111.222.333.44444
Invalid: email@example..com
Invalid: Abc..123@example.com
Invalid: email@example.name
Invalid: email@example.museum
Invalid: email@example.co.jp
Invalid: firstname-lastname@example.com