**Convert a dataframe to list of dicts and read the same into a another dataframe with prefix of "a_" apended to the original column name**

**IMPORTING LIBRARY**

In [13]:
import pandas as pd

**CREATING DATAFRAME**

In [14]:
data = {'Name':['Renault', 'Duster', 'Maruti', 'Honda City'], 'Ratings':[3.0, 5.0, 9.0, 8.0]}

**ADDING THE INDEX VALUES TO DATAFRAME**

In [15]:
df = pd.DataFrame(data, index =['1', '2', '3', '4'])

**PRESENTING THE DATAFRAME**

In [16]:
df.head()

         Name  Ratings
1     Renault      3.0
2      Duster      5.0
3      Maruti      9.0
4  Honda City      8.0

**CHANGING DATAFRAME TO DICTIONARIES**

In [17]:
df.to_dict('data')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  """Entry point for launching an IPython kernel.

{'Name': {'1': 'Renault', '2': 'Duster', '3': 'Maruti', '4': 'Honda City'},
 'Ratings': {'1': 3.0, '2': 5.0, '3': 9.0, '4': 8.0}}

**CHANGING COLUMN NAME WITH 'a_' appended to every column**

In [11]:
df.add_prefix('a_')

       a_Name  a_Ratings
1     Renault        3.0
2      Duster        5.0
3      Maruti        9.0
4  Honda City        8.0

       a_Name  a_Ratings
1     Renault        3.0
2      Duster        5.0
3      Maruti        9.0
4  Honda City        8.0